@import url('https://fonts.googleapis.com/css2?family=Inder&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    transition: all 0.3s ease;
}
:root{
    --bg-color: #111317;
    --muted-color: #23262f4d;
    --heading-color: #F8FAFC;
    --text-color: #94a3b8;
    --primary-color: #2463eb;
    --h-font-family: 'Space Grotesk', sans-serif;
    --p-font-family: 'Inder', sans-serif;
    --border-r: 2px solid #2c3144cc;
}
:root {
  --bg-main: 220 40% 10%;
  --bg-accent: 220 45% 16%;
}

body {
    width: 100%;
    height: fit-content;
    font-family: var(--p-font-family);
    background-color: var(--bg-accent);
    color: var(--text-color);
}
body.dark-mode{
    background-color: var(--heading-color);
    color: var(--bg-color);
}
#hero{
    width: 100%;
    background-color: var(--bg-color);
}
.dark-mode #hero{
    background-color: var(--heading-color);
}
h1{
    color: var(--heading-color);
    font-family: var(--h-font-family);
}
h2, h3, h4, h5, h6, p, span, a, li{
    color: var(--text-color);
    font-family: var(--p-font-family);
}
.dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode p, .dark-mode span, .dark-mode a, .dark-mode li{
    color: var(--bg-color);
}
p{
    font-size: 18px;
}
span{
    color: var(--primary-color);
}
#home, #about, #projects, #skills, #contact{
    width: 100%;
    height: 100vh;
}
#container{
    max-width: 1280px;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
}
#header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 100;
    background: transparent
}

#logo{
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
    letter-spacing: -1px;
    span{
        font-size: 30px;
    }
}
.dark-mode #logo{
    color: var(--bg-color);
}
#nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
}
#nav ul li{
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}
#nav ul li:hover{
    color: var(--primary-color);
}




/* home................. */
.home{
      min-height: 100vh;
  background:
    radial-gradient(
      1200px 600px at top left,
      hsl(var(--bg-accent) / 0.9),
      transparent 60%
    ),
    radial-gradient(
      1000px 500px at bottom right,
      #0a0d19cc,
      transparent 60%
    ),
    linear-gradient(
      180deg,
      hsl(var(--bg-main)),
      hsl(210, 12%, 7%)
    );
}
.dark-mode .home{
      min-height: 100vh;
  background:
    radial-gradient(
      1200px 600px at top left,
      hsl(220 40% 90% / 0.9),
      transparent 60%
    ),
    radial-gradient(
      1000px 500px at bottom right,
      #f0f1f5cc,
      transparent 60%
    ),
    linear-gradient(
      180deg,
      hsl(220 40% 100%),
      hsl(220 40% 90%)
    );
}
.my_intro{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}
.my_intro_card{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my_intro_content{
    width: 100%;
    span{
        margin: 0 0 16px 0;
    }
    h1{
        font-size: 72px;
        margin-bottom: 16px;
    }
    h2{
        font-size: 30px;
        margin-bottom: 24px;
        font-weight: 500;
        font-family: var(--h-font-family);
    }
    p{
        margin-bottom: 32px;
        line-height: 1.6;
    }
}
.dark-mode .my_intro_content h1{
    color: var(--bg-color);
}
.dark-mode .my_intro_content span{
    color: var(--primary-color);
}
.buttons{
    display: flex;
    gap: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .work{
        background-color: var(--primary-color);
    }
    .touch{
        background-color: transparent;
    }
}
.social_links{
        margin-top: 32px;
        a{
                transform: scale(0.7);
        }
}
button{
    padding: 11px 32px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--heading-color);
    border: var(--border-r);
}
.my_pro_img{
    position: absolute;
    right: 0;
}
.imb_cart{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
    radial-gradient(
      1200px 600px at top left,
      hsl(var(--bg-accent) / 0.9),
      transparent 60%
    ),
    radial-gradient(
      1000px 500px at bottom right,
      #0a0d19cc,
      transparent 60%
    ),
    linear-gradient(
      180deg,
      hsl(var(--bg-main)),
      hsl(210, 12%, 7%)
    );
    position: relative;
    z-index: 90;
    border: 2px solid #2c3144cc;
    border-radius: 18px;
    outline: none;
    overflow: hidden;
    img{
        /* transform: scale(1.3) translateY(-35px); */
        transform: scale(0.8);
        transition: all 0.3s ease;
        filter: drop-shadow(15px -3px 9px #00000066);
    }
    /* img:hover{
        filter: drop-shadow(15px -3px 10px #76758666);
        transition: all 0.3s ease;
        transform: scale(0.84);
    } */    
}
.dark-mode .imb_cart img{
    filter: drop-shadow(15px -3px 9px #00000066);
}
.dark-mode  .imb_cart{
    background:
    radial-gradient(
      1200px 600px at top left,
      hsl(220 40% 90% / 0.9),
      transparent 60%
    ),
    radial-gradient(
      1000px 500px at bottom right,
      #f0f1f5cc,
      transparent 60%
    ),
    linear-gradient(
      180deg,
      hsl(220 40% 100%),
      hsl(220 40% 90%)
    );
}
.my_pro_img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
     background:
    radial-gradient(
      1200px 600px at top left,
      hsl(var(--bg-accent) / 0.9),
      transparent 60%
    ),
    radial-gradient(
      1000px 500px at bottom right,
      #0a0d19cc,
      transparent 60%
    ),
    linear-gradient(
      180deg,
      hsl(var(--bg-main)),
      hsl(210, 12%, 7%)
    );
    border: var(--border-r);
    border-radius: 18px;
    transform: rotate(4deg);

}
.dark-mode .my_pro_img::before{
     background:
    radial-gradient(
      1200px 600px at top left,
      hsl(220 40% 90% / 0.9),
      transparent 60%
    ),
    radial-gradient(
      1000px 500px at bottom right,
      #f0f1f5cc,
      transparent 60%
    ),
    linear-gradient(
      180deg,
      hsl(220 40% 100%),
      hsl(220 40% 90%)
    );
}


/* about................. */
#about{
    min-height: 100vh;
    background: var(--muted-color);
}
/* skills................. */
#skills{
    min-height: 100vh;
    background: var(--muted-color);
}